# Data Science Tools and Ecosystem

## Author
Aryan Ajay Kumar

## In this notebook, Data Science Tools and Ecosystem are summarized.

<b> Objectives:</b>
List popular languages for Data Science
1. Python
2. R
3. Apache
4. Julia

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Apache
4. Julia
5. Scala
6. SQL

###  Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Numpy
4. Seaborn

<table style="width:20%">
<tr>
<th>Data Science Tools</th>
</tr>

<tr>
<td>RStudio</td>
</tr>
<tr><td>Apache Spark</td></tr>
<tr><td>TensorFlow</td></tr>
</tr>

</table>

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
hour = 200/60
hour

3.3333333333333335